---
import styles from "./styles.module.css"
---

<div class={styles.countdownWrapper}>
  <p id="countdown" class={styles.countdown}>Coming on June 1st</p>
  <span class="sr-only">remaining</span>
</div>

<script src="/js/countdown.js" is:inline></script>
