---
import styles from "./styles.module.css"
---

<div class={styles.countdownWrapper}>
  <span class="sr-only">Release in</span>
  <p id="countdown" class={styles.countdown}>Coming June 1st</p>
</div>

<script src="/js/countdown.js" is:inline></script>
