.form {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  @media (--md) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, calc(1.3rem + 0.98vw), 2rem);
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));

  @media (--md) {
    flex-direction: row;
    flex-wrap: wrap;

    & > .input {
      min-width: 0;
      flex-basis: 40%;
      flex-grow: 1;
    }
  }
}

.button {
  --color: var(--color-pink);
}

.disclaimer {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.disclaimerLabel {
  text-align: left;

  & a {
    color: var(--color-primary);
    font-weight: bold;
  }
}
