/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/montserrat-v23-latin-regular.woff2") format("woff2");
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/montserrat-v23-latin-700.woff2") format("woff2");
}

/* TT Travels Next Regular */
@font-face {
  font-display: swap;
  font-family: "TT Travels Next";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/tt-travels-next-regular.ttf") format("truetype");
}

/* TT Travels Next Bold */
@font-face {
  font-display: swap;
  font-family: "TT Travels Next";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/tt-travels-next-bold.ttf") format("truetype");
}
