/* Grain overlay */
.overlay {
  position: fixed;
  z-index: var(--index-grain);
  background-image: url("/img/pixel-grain.png");
  background-repeat: repeat;
  background-size: 22rem 30rem;
  inset: 0;
  mix-blend-mode: multiply;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.overlay--absolute {
  position: absolute;
}

/* Container */
[class*="container"] {
  --max-width: 50rem;
  --padding-inline: 1rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: var(--padding-inline);
}

.container--wide {
  --max-width: 56rem;
}

.container--full {
  --max-width: 80rem;
}

/* text content */
.prose {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1.5rem;

  & > * {
    width: 100%;
    max-width: var(--max-width-prose);
  }

  & :not(h1, h2, h3, h4) {
    width: 100%;
    font-size: var(--font-base);
    line-height: 1.6;
  }

  & h1,
  & h2,
  & h3,
  & h4 {
    width: 100%;
    max-width: 50rem;
    line-height: 1.1;
  }

  & h2 {
    margin-bottom: 0.5em;
    font-size: var(--font-xl);
  }
}
