@import "modern-normalize";
@import "./_vars.css";
@import "./_utils.css";
@import "./_fonts.css";
@import "./atoms/_button.css";

/* generic */

* {
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

img,
svg,
iframe,
video {
  position: relative;
  z-index: calc(var(--index-grain) + 10);
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border-width: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: underline;
}

@media (--reduced-motion) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01s !important;
  }
}

[id] {
  scroll-margin-top: 2rem;
}

/* Specific */
:focus-visible {
  outline: 2px dashed var(--focus-outline-color, var(--color-primary));
  outline-offset: 0.125rem;
}

::selection {
  background-color: rgb(255 255 255 / 0.2);
}

body {
  appearance: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  font-family: var(--font-display);
  text-transform: uppercase;
}

.section {
  padding-block: clamp(3rem, 5vw, 4rem);
}
