---
import Layout from "../layouts/default.astro"
import Intro from "../components/Intro/index.astro"
import People from "../components/People/index.astro"
---

<Layout>
  <h1 class="sr-only">ARTIFICATION</h1>

  <Intro />

  <section class="section prose" id="what">
    <h2>WHAT</h2>

    <p>
      Artifaction is a collaborative project in which designers and coders have
      joined forces to dive deeper into creative coding and the crypto space. We
      have developed generative artworks, which we call Artifacts. The artworks
      are stored immutably on the Ethereum Blockchain and a new pattern is
      generated with every click. Don't like it? Just click again – then the
      first one is lost forever, but the next one might be so beautiful that it
      could become your next tattoo.
    </p>
    <p>
      A generative algorithm combines basic graphic shapes and pattern on a
      square area of 8 by 8 equally sized fields, according to a sophisticated
      scheme. Some elements occupy only one field, some have a size of 2 x 2, 2
      x 3, 4 x 4 etc.. This creates patterns that are absolutely unique each
      time and there are endless possibilities. The mixture of filled and
      transparent elements creates an almost three-dimensional appearance.
      Sometimes it looks like you could walk into the object and hide behind a
      corner. Sometimes some of the smaller and finer elements repeating next to
      each other are creating a kind of digital glitch effects.
    </p>
  </section>

  <People />
</Layout>
