---
import Layout from "../layouts/default.astro"
---

<Layout title="Thank you for your order" noindex>
  <main class="prose prose--centered container section">
    <h1>Thank you for your order.</h1>
    <p>Wjkefhbdges</p>
    <a href="/" class="button button--centered"> Back to homepage </a>
  </main>
</Layout>
