---
import Visual from "../Visual/index.astro"
import styles from "./styles.module.css"
---

<section class="container--wide section">
  <Visual />

  <div class={styles.buttons}>
    <a href="#" class="button">Generate</a>
    <a href="#" class="button">Connect Metamask</a>
    <a href="#" class="button">How to mine</a>
  </div>
</section>
