.artwork {
  display: flex;
  width: 100%;
  max-height: 37.5rem;

  justify-content: center;
  aspect-ratio: 1;
  margin-inline: auto;

  & :global(#defaultCanvas) {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
  }

  & :global(#sketchwrapper) {
    display: flex;
    justify-content: center;
  }

  & :global(#p5_loading) {
    position: static !important;
    text-align: center;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  gap: 1rem;

  & :first-child {
    --color: var(--color-pink);
  }
}
