---
import Logo from "../Logo/index.astro"
import cx from "classnames"

import styles from "./styles.module.css"
---

<header class={cx(styles.header, "container section")}>
  <div class={styles.logoWrapper}>
    <span class="sr-only">Artifaction</span>
    <Logo />
  </div>
</header>
