---
import Logo from "../Logo/index.astro"

import cx from "classnames"
import styles from "./styles.module.css"

const navItems = [
  {
    name: "What",
    path: "#what",
  },
  {
    name: "How",
    path: "#how",
  },
  {
    name: "Who",
    path: "#who",
  },
]
---

<header class={cx(styles.header, "container")}>
  <a href="/">
    <span class="sr-only">Artifaction</span>
    <Logo />
  </a>

  <nav>
    <ul class={styles.navItems}>
      {navItems.map(({ name, path }) => (
        <li>
          <a class={styles.navLink} href={path}>
            {name}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>
