.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  padding-block: 1rem;
  row-gap: 0.5rem;

  & a {
    display: inline-flex;
    min-height: 2.5rem;
    align-items: center;
    justify-content: center;
  }
}

.logoWrapper {
  flex-shrink: 0;
}

.navItems {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 3ch;
  list-style: none;
}

.navLink {
  color: var(--color-primary);
  font-family: var(--font-display);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
