.header {
  position: sticky;
  top: 0;
  display: flex;
  height: var(--nav-height);
  align-items: center;
  justify-content: space-between;

  & a {
    display: inline-flex;
    min-height: 2.5rem;
    align-items: center;
    justify-content: center;
  }
}

.navItems {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 3ch;
  list-style: none;
}

.navLink {
  color: var(--color-primary);
  font-family: var(--font-display);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
