---
import cx from "classnames"
import styles from "./styles.module.css"
---

<section class={cx("section container", styles.intro)}>
  <h1 class={styles.heading}>the beauty of visual errors</h1>
  <div class="prose">
    <p>
      A generative project that creates unique visual objects through the random
      composition of different geometric artifacts. You can generated new
      visuals by your own with a single click. Don't like it? Just click again –
      it will be lost forever, but the next one might make you so happy. If
      you're happy, you have two options: Get your own unique artwork as a nft,
      or get a cool fine art print for your analog home. And don't worry – you
      can have both, of course.
    </p>
  </div>
</section>

<nav aria-label="Main" class={styles.nav}>
  <ul class={styles.navItems}>
    <li aria-hidden="true" class="overlay overlay--absolute"></li>
    <li>
      <a href="#how-it-works" class="button">How it works</a>
    </li>
    <li>
      <a href="#the-story" class="button">The Story</a>
    </li>
  </ul>
</nav>
