---
import IntroGraphics from "../IntroGraphics/index.astro"

import styles from "./styles.module.css"
---

<section class={`section ${styles.intro}`}>
  <IntroGraphics />
  <button class="button">Generate</button>
</section>
