.intro {
  --max-width: 55rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  & :global(.button) {
    align-self: flex-end;
  }
}

.heading {
  margin-bottom: 0.75em;
  font-size: var(--font-xl);
}

.nav {
  position: sticky;
  z-index: calc(var(--index-grain) + 100);
  top: 0;

  margin-block: 2rem 4rem;
}

.navItems {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--color-bg);
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;

  @media (--lg) {
    gap: 1rem;
  }

  & :global(.button) {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  & :global(.overlay) {
    z-index: calc(var(--index-grain) + 1);
  }

  & li {
    padding: 0;
    list-style-type: none;
  }
}
