.footer {
  --max-width: 80rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  color: var(--color-primary);
  font-size: var(--font-base);
  font-weight: bold;
  gap: 2rem;
  justify-items: stretch;
  padding-block: 4rem;
  text-transform: uppercase;

  @media (--lg) {
    display: grid;

    grid-template-columns: 1fr 0.5fr 1fr;
    justify-items: center;

    & > :first-child {
      justify-self: start;
    }

    & > :last-child {
      justify-self: end;
    }
  }

  & a {
    display: inline-flex;
    min-height: 2.5rem;
    align-items: center;
    justify-content: center;
  }
}

.copyright {
  white-space: nowrap;
}

.navItems {
  display: flex;
  gap: 3ch;
  list-style-type: none;
}

.navLink {
  text-decoration: none;
}
